body{
    background-image: url("bg1.webp");
}

header{
    color: rgb(71, 195, 162);
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}
.container{
    
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.piano{
    display: flex;
}


.keywhite{
    width: 50px;
    height: 200px;
    background-color: white;
    border: 1px solid brown;
}
.keywhite.active{
    background-color: #ccc;
}
.keyblack{
    width: 30px;
    height: 120px;
    background-color: black;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
}
.keyblack.active{
    background-color: #333;
}